
.top-navbar {
  color: white;
  background: linear-gradient(0deg, #761413 0%, #761413 43%, #d61414 100%);
  height: 5rem;
}

.navbar {
  display: flex;
  align-items: center;
  height: 2rem;
  background: #E5E5E5;
  border-bottom: 1px solid #D2CFCF;
}

.nav-toggle {
  display: grid;
  place-items: center;
  height: 2rem;
  padding: 5px;
  background: #D40008;
}

.nav-toggle-btn {
  display: grid;
  place-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* background: #D40008; */
}

.nav-toggle-icon {
  display: block;
  width: 1.5rem;
  height: 3px;
  background: white;
  margin: 2px;
}

.nav-home {
  margin-left: 1rem;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.nav-options {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.nav-options li {
  margin-left: 1rem;
}

.nav-options li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}


h1 {
  position: relative;
  font-size: 2rem;
  padding: 1rem 2rem;
}

/* Header News */

.news-category {
  color: #e2000f;
  padding-right: 0.6rem;
}

.head-news-title {
  padding: 0.3rem;
  font-size: 1.4rem;
}

.header-img {
  width: 40%;
}

/* News Continer */
.news-container {
  padding: 0rem .6rem;
}

/* Verticle News Card */
.verticle-news-card > a {
  display: flex;
  margin: 0.4rem 0; 
}

.verticle-news-card > a > .news-card-image {
  width : 30%;
  border-radius: 10%;
}

/* News Scroller */
.news-scroller {
  display: grid;
  grid-auto-flow: column;
  gap: .5rem;
  margin: .5rem;
  height: 22rem;
  overflow-x: auto;
  /* grid-auto-columns: 70%; */
}

/* Horizontal News Card */

.horizontal-news-card{
  background-color: #E5E5E5;
  border-radius: 2%;
}

.horizontal-news-card > a > .news-card-image {
  border-radius: 3%;
  /* width: 100%; */  
}

/* Story Title */
.news-title {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 549;
}

/* For small displays */
@media (max-width: 768px) {
  .top-navbar {
    height: 2.5rem;
  }
  h1 {
    position: relative;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  .head-news-title {
    font-size: 1rem;
    font-weight: 549;
    line-height: 1.8;
  }
  .header-img {
    width: 100%;
  }

  .horizontal-news-card > a > .news-card-image {
    border-radius: 3%;
    /* width: 100%; */
  }

  .news-title {
    font-size: 1rem;
    font-weight: 309;
  }
}

/* For Large Displays */
@media (min-width: 968px) {
  .news-scroller {
    height: 23rem;
    
  }
  .horizontal-news-card > a > .news-card-image {
    border-radius: 3%;
    width: 100%;
  }
}