* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1068px;
  margin: 0 auto;
  /* text-align: center; */
}

h3 {
  padding: 0.5rem 1rem 0rem 1rem;
  font-size: large;
}

body {
  font-family: "Noto Sans", sans-serif;
}

header {
  padding: 0.8rem 0rem 0rem 0rem;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  background-color: #D2CFCF
}